#clicker-button {
	width: 25rem;
	height: 20rem;
	min-width: 170px;
	min-height: 170px;
	font-size: 2rem;
	color: green;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-clip: content-box;
	border: none;
	background-color: white;
	padding: 0;
}
