#clicker-button {
	width: 100%;
	max-width: 50vw;
	height: 10rem;
	min-width: 170px;
	min-height: 170px;
	font-size: 2rem;
	color: green;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-clip: content-box;
	border: none;
	background-color: white;
	padding: 0;
	cursor: pointer;
}
